<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Krypson_Testimonials>
			<version>1.0.0.0</version>
		</Krypson_Testimonials>
	</modules>
	<global>
		<helpers>
			<testimonials>
				<class>Krypson_Testimonials_Helper</class>
			</testimonials>
		</helpers>
		<blocks>
			<testimonials>
				<class>Krypson_Testimonials_Block</class>
			</testimonials>
		</blocks>
		<models>
			<testimonials>
				<class>Krypson_Testimonials_Model</class>
				<resourceModel>testimonials_resource</resourceModel>
			</testimonials>
			<testimonials_resource>
				<class>Krypson_Testimonials_Model_Resource</class>
				<entities>
					<testimonial>
						<table>krypson_testimonials_manager</table>
					</testimonial>
				</entities>
			</testimonials_resource>
		</models>
		<resources>
			<testimonials_setup>
				<setup>
					<module>Krypson_Testimonials</module>
				</setup>
			</testimonials_setup>
		</resources>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<testimonials>
					<file>krypson/testimonials.xml</file>
				</testimonials>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Krypson_Testimonials after="Mage_Adminhtml">Krypson_Testimonials_Adminhtml</Krypson_Testimonials>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<frontend>
		<routers>
			<testimonials>
				<use>standard</use>
				<args>
					<module>Krypson_Testimonials</module>
					<frontName>testimonials</frontName>
				</args>
			</testimonials>
		</routers>
		<layout>
			<updates>
				<testimonials>
					<file>krypson/testimonials.xml</file>
				</testimonials>
			</updates>
		</layout>
	</frontend>
</config>
